html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #e66465, #9198e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: rainbow-animation 35s linear infinite;
}

@keyframes example-animation {
    to {
        background-position: 4500vh;
    }
}

h1 {
  color: darkblue;
  text-align: center;
}

.welcome{
  justify-content: center;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.loginOptions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loginTables{

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton{
  background-color: #4CAF50;
  color: #884d87;,
  border: 1px transparent;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 8px;
  background-image: linear-gradient(to right,#9198e5, #e66465);
}

.smallButton{
  flex: 1;
}
.bigButton{
  flex: 2;
}


@media (max-width: 768px) {
  .welcome {
    margin-bottom: 25px;
  }
}
