<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

	<h1>Welcome to the admin panel</h1>

	<h2>Section 1: Add User</h2>
	<form id="addUserForm" >
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>

		<p></p>
		<button id="addUser" type="submit">Add User</button>
	</form>

	<h2>Section 2: Remove User</h2>
	<form id="removeUserForm">
		<label for="removeUsername">Username:</label>
		<input type="text" id="removeUsername" name="username"><br><br>

		<p></p>
		<button id="removeUser" type="submit">Remove User</button>
	</form>

	<h2>Section 3: Add Item</h2>
	<form id="addItemForm">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br><br>

		<label for="description">Description:</label>
		<input type="text" id="description" name="description"><br><br>

		<label for="price">Price:</label>
		<input type="text" id="price" name="price"><br><br>

		<label for="seller">Seller:</label>
		<input type="text" id="seller" name="seller"><br><br>

		<label for="imageLink">Image hyperlink:</label>
		<input type="text" id="imageLink" name="image_link"><br><br>

		<label for="size">Size:</label>
		<input type="text" id="size" name="size"><br><br>

		<label for="colour">Colour:</label>
		<input type="text" id="colour" name="colour"><br><br>

		<label for="spec">Spec:</label>
		<input type="text" id="spec" name="spec"><br><br>

		<label for="itemType">Item type:</label>
		<select id="itemType" name="item_type">
			<option value=0>Clothing</option>
			<option value=1>Computer Components</option>
			<option value=2>Monitors</option>
			<option value=3>Snacks</option>
		</select><br><br>

		<p></p>
		<button id="addItem" type="submit">Add Item</button>
	</form>

	<h2>Section 4: Remove Item</h2>
	<form id="removeItemForm">
		<label for="removeItemType">Item type:</label>
		<select id="removeItemType" name="item_type">
			<option value=0>Clothing</option>
			<option value=1>Computer Components</option>
			<option value=2>Monitors</option>
			<option value=3>Snacks</option>
		</select><br><br>

		<label for="removeItemName">Name:</label>
		<input type="text" id="removeItemName" name="name"><br><br>

		<p></p>
		<button id="removeItem" type="submit">Remove Item</button>
	</form>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>