<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArdaMericFlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">

    <div class="welcome" id="welcome" data-logged-in="{{ 'username' in session }}">
        <h1>Welcome to the website!</h1>
    </div>

    <div id="loginButtonDiv" class="section">
        <div class="loginOptions">
            <button id="userLogin" class="loginButton bigButton">Login</button>
        </div>
    </div>

    <div class="section">
        <label for="filters">Choose a filter:</label>
        <select name="filters" id="filters">
            <option value="noFilter">-</option>
            <option value="highR">Highest Rating</option>
            <option value="lowR">Lowest Rating</option>
            <option value="CtE">Cheap to Expensive</option>
            <option value="EtC">Expensive to Cheap</option>
        </select>

        <label for="items">Choose an item type:</label>
        <select name="items" id="items">
            <option value=0>Clothing</option>
            <option value=1>Computer Components</option>
            <option value=2>Monitors</option>
            <option value=3>Snacks</option>
        </select>

        <button id="filterButton" class="loginButton bigButton">Apply</button>
    </div>

    <div id="products" class="products">
    </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>